<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
    content="DataByLex - Expert data migration, cleanup, and automation services. Trusted solutions with personal support.">
<meta name="keywords"
    content="data migration, data cleanup, automation, cloud integration, data solutions, personalized data services">
<title>{{ page.title | default: site.title }}</title>
<link rel="stylesheet" href="{{ '/assets/css/main.build.css' | relative_url }}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Open+Sans:wght@400;600&display=swap"
    rel="stylesheet">
<script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>